<%= form_for @shop do |f| %>
  <% if @shop.errors.any? %>
    <% @shop.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price %><br>
    <%= f.text_field :price %>円
  </div>
  <div>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div>
    <table>
      <tr>
        <th>営業時間</th>
        <th>日曜日</th>
        <th>月曜日</th>
        <th>火曜日</th>
        <th>水曜日</th>
        <th>木曜日</th>
        <th>金曜日</th>
        <th>土曜日</th>
        <th>祝日</th>
      </tr>
      <tr>
        <th>昼の部</th>
        <td><%= f.check_box :mon1 %></td>
        <td><%= f.check_box :tue1 %></td>
        <td><%= f.check_box :wed1 %></td>
        <td><%= f.check_box :thu1 %></td>
        <td><%= f.check_box :fri1 %></td>
        <td><%= f.check_box :sat1 %></td>
        <td><%= f.check_box :sun1 %></td>
        <td><%= f.check_box :hol1 %></td>
      </tr>
      <tr>
        <th>夜の部</th>
        <td><%= f.check_box :mon2 %></td>
        <td><%= f.check_box :tue2 %></td>
        <td><%= f.check_box :wed2 %></td>
        <td><%= f.check_box :thu2 %></td>
        <td><%= f.check_box :fri2 %></td>
        <td><%= f.check_box :sat2 %></td>
        <td><%= f.check_box :sun2 %></td>
        <td><%= f.check_box :hol2 %></td>
      </tr>
    </table>
  </div>
  <div>
  <div>
  <%= f.submit %>
  </div>
<% end %>
